@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Frame BorderColor="LightGray"
       HasShadow="True"
       CornerRadius="12"
       HeightRequest="120"
       WidthRequest="120">
    <Frame.Background>
        <SolidColorBrush Color="DarkBlue" />
    </Frame.Background>
</Frame>


<SurveyPrompt Title="How is Blazor working for you?" />